#navbar {
    background-color: #52734D;
}

#navbar-brand {
    color: #FEFFDE;
    font-weight: 700;
    font-size: 1.5rem;
    cursor: pointer;
}


#navbar-search {
    background-color: #FEFFDE;
}

#navbar-search:hover {
    background-color: #91C788;
    /* color: black; */
}