.root {
    background-color: #52734D;
    height: 100%;
    min-height: 100vh;
}

.description {
    text-align: justify;
}

.tablets {
    min-width: 160px;
    padding: 10px;
    margin: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black
}

.peopleTitle,
#reviewsTitle {
    width: 105px;
}

.subjectsTitle {
    width: 130px;
    text-align: center;
}

.peopleTitle>span::after {
    content: "";
    position: absolute;
    height: 5px;
    background-color: #52734D;
    width: 100px;
    top: 100%;
    margin-top: 3px;
    left: 0;
}

.subjectsTitle>span::after {
    content: "";
    position: absolute;
    height: 5px;
    background-color: #52734D;
    width: 130px;
    top: 100%;
    left: 0px;
}

#submitReview {
    background-color: #FEFFDE;
    transition: all 0.3s ease-in-out;
}

#submitReview:hover {
    background-color: #91C788;
}

#reviewsTitle>span::after {
    content: "";
    position: absolute;
    height: 5px;
    background-color: #52734D;
    width: 110px;
    top: 100%;
    margin-top: 3px;
    left: 0;
}