#root {}

#cardContainer {
    background-color: white;
}

#cardContainer>.cardBody {
    width: 45%;
    min-width: 300px;
    background-color: #FEFFDE;
    min-height: 300px;
    border: 1px solid black;
    border-radius: 15px;
}

.photoContainer>img {
    max-height: 300px;
    aspect-ratio: 3 / 5;
}