<div class="d-flex flex-column justify-content-between gap-3 px-4">
    <div *ngIf="!isClosed" class="alert alert-warning alert-dismissible fade show" role="alert">
        {{state.data}}
        <button type="button" class="btn-close" aria-label="Close" (click)="closeAlert()"></button>
    </div>
    <div class="display-4 w-100 text-center p-2 fw-bold" id="registerTitle">
        Register Here
    </div>
    <form method="post" class=" d-flex flex-column justify-content-center align-items-center">
        <div class="form-floating mb-3 col-12">
            <input type="text" class="form-control bg-green" id="floatingInput" [(ngModel)]="username"
                placeholder="Username" name="username">
            <label for="floatingInput">Username</label>
        </div>
        <div class="form-floating mb-3 col-12">
            <input type="email" class="form-control bg-green" id="floatingInput" [(ngModel)]="email"
                placeholder="name@example.com" name="email">
            <label for="floatingInput">Email address</label>
        </div>
        <div class="d-flex flex-wrap col-12 gap-3 justify-content-between align-items-center mb-3">
            <div class="form-floating ">
                <input type="password" class="form-control bg-green " [(ngModel)]="password" placeholder="Password"
                    name="password">
                <label for="floatingPassword">Password</label>
            </div>
            <div class="form-floating">
                <input type="password" class="form-control  bg-green" [(ngModel)]="conPassword"
                    placeholder="Confirm Password" name="conPassword">
                <label for="floatingPassword">Confirm Password</label>
            </div>
        </div>
        <div class="d-flex flex-wrap col-12 justify-content-around align-items-center">
            <div >
                <button type="submit" class="btn btn-outline-success" id="register-btn" (click)="register($event)">Sign
                    up</button>
            </div>
            <div class=" text-light ">
                <p>Already have account?<a class="link-opacity-25-hover" id="login-link" routerLink="../login">Click
                        Here</a>
                </p>
            </div>
        </div>
    </form>
</div>